@import "../../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css";

.carousel {
  margin: auto !important;
}

.carousel .slide {
  background: white !important;
}

.carousel .control-dots {
  padding: 0;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}

.certificates__carousel-wrapper {
  max-width: 60rem;
  margin: auto;
}

.certificates__yandex {
  height: 50rem;
  background-color: white;
  background: url("./yandex.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.certificates__bankex {
  height: 50rem;
  background-color: white;
  background: url("./bankex.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
