.link {
    position: relative;
    text-decoration: none;
    color: black;
    &::before {
        content: "";
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: blueviolet;
        transition-duration: 0.1s;
    }
    &:hover::before {
        width: 100%;
    }
}

.main__section .main__section--contacts {
    font-size: 1.6rem;
    line-height: 1.8;
}

.flex-wrapper {
    font-size: 1.6rem;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered {
    text-align: center;
}
